
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Arial, sans-serif;
     background: #0f0f0f;
     color: white;
 }


 nav {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 25px 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 10;
 }

 .logo {
     font-weight: 700;
     letter-spacing: 2px;
 }

 ul {
     display: flex;
     gap: 40px;
     list-style: none;
 }

 ul a {
     text-decoration: none;
     color: white;
     font-size: 15px;
     transition: .3s;
 }

 ul a:hover {
     color: #ff3c3c;
 }

 .nav-btn {
     background: #ff3c3c;
     padding: 10px 20px;
     border-radius: 6px;
     text-decoration: none;
     color: white;
     font-size: 14px;
     transition: .3s;
 }

 .nav-btn:hover {
     background: #ff5c5c;
 }


 .hero {
     position: relative;
     min-height: 100vh;
     display: flex;
     align-items: center;
     padding: 0 80px;

     background: url("img.jpg") center/cover no-repeat;
 }


 .hero::before {
     content: "";
     position: absolute;
     inset: 0;
     background: rgba(0, 0, 0, 0.7);
 }


 .hero-content {
     position: relative;
     z-index: 2;
     max-width: 650px;
 }

 .hero-content h1 {
     font-size: 70px;
     font-weight: 800;
     line-height: 1.1;
 }

 .hero-content p {
     margin-top: 20px;
     font-size: 18px;
     color: #cccccc;
     line-height: 1.6;
 }


 .hero-buttons {
     display: flex;
     gap: 20px;
     margin-top: 30px;
 }

 .btn-primary {
     background: #ff3c3c;
     padding: 14px 30px;
     border-radius: 6px;
     text-decoration: none;
     color: white;
     font-weight: 600;
     transition: .3s;
 }

 .btn-primary:hover {
     background: #ff5c5c;
 }

 .btn-secondary {
     border: 2px solid #ff3c3c;
     padding: 14px 30px;
     border-radius: 6px;
     text-decoration: none;
     color: #ff3c3c;
     font-weight: 600;
     transition: .3s;
 }

 .btn-secondary:hover {
     background: #ff3c3c;
     color: white;
 }

 
 .stats {
     position: absolute;
     bottom: 40px;
     left: 80px;
     display: flex;
     gap: 40px;
     padding: 25px 40px;
     border-radius: 15px;
     background: rgba(255, 255, 255, 0.08);
     backdrop-filter: blur(10px);
 }

 .stat {
     text-align: center;
 }

 .stat h3 {
     font-size: 28px;
 }

 .stat p {
     font-size: 14px;
     color: #ccc;
 }

 